In [1]:
import sqlite3

In [2]:
objcon = sqlite3.connect("chinook.db")

In [3]:
objcur = objcon.cursor()

In [4]:
query = """SELECT name from sqlite_master where type = 'table' """

In [5]:
objcur.execute(query)

In [6]:
tables = objcur.fetchall()

In [7]:
for val in tables:
    print(val)

('albums',)
('sqlite_sequence',)
('artists',)
('customers',)
('employees',)
('genres',)
('invoices',)
('invoice_items',)
('media_types',)
('playlists',)
('playlist_track',)
('tracks',)
('sqlite_stat1',)

In [8]:
tables

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

In [9]:
query = "SELECT * FROM employees"

objcur.execute(query)

data = objcur.fetchall()

for val in data:
    print(val)
    print("----")

(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')
----
(2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com')
----
(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
----
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
----
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')
----
(6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com')
----
(7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com')
----
(8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')
----

In [10]:
query = """SELECT * FROM employees where title = 'Sales Support Agent'"""

objcur.execute(query)

data = objcur.fetchall()

for val in data:
    print(val)
    print("----")

(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
----
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
----
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')
----

In [12]:
query = """SELECT * FROM employees"""

objcur.execute(query)

data = objcur.fetchall()

with open("emp_data.txt", "w") as fa:
    for val in data:
        fa.write(val[2] + " " + val[1]+"\n"+val[-1])
        fa.write("\n---------------\n")

In [13]:
objcon.close()

In [14]:
conobj = sqlite3.connect("olympics.db")
curobj = conobj.cursor()

In [15]:
query = """CREATE TABLE players 
        (id integer PRIMARY KEY, name text, sport text, medal real)"""

In [16]:
curobj.execute(query)

In [17]:
lista = [202, 'Mirabai', 'weightlifting', 2.0]

listall = [[204, 'lovlina', 'boxing', 3.0], 
          [206, 'sindhu', 'badminton', 3.0], 
          [208, 'dahiya', 'wrestling', 2.0], 
          [210, 'punia', 'wrestling', 3.0],
           [212, 'neeraj', 'javelin', 1.0]]

In [18]:
lista

[202, 'Mirabai', 'weightlifting', 2.0]

In [19]:
listall

[[204, 'lovlina', 'boxing', 3.0],
 [206, 'sindhu', 'badminton', 3.0],
 [208, 'dahiya', 'wrestling', 2.0],
 [210, 'punia', 'wrestling', 3.0],
 [212, 'neeraj', 'javelin', 1.0]]

In [20]:
query = """INSERT into players (id, name, sport, medal) VALUES (?,?,?,?)"""

In [21]:
curobj.execute(query, lista)

In [22]:
conobj.commit()

In [23]:
curobj.executemany(query, listall)
conobj.commit()

In [24]:
conobj.close()